.site-name {
  display: flex;
  align-items: center;
}

.site-name img {
  margin-right: 0.5rem;
}

.nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 32px;
  background: var(--color-blue);
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 5px 8px;
  }
}

.nav > div {
  flex: 1;
  display: flex;
}

.nav-room-name {
  display: flex;
  align-items: center;
}

.nav-room-name h2 {
  margin-right: 0.5rem;
}

.nav-room-name {
  margin: auto;
}

.menu-drawer {
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .nav {
    font-size: 75%;
  }

  .nav > div {
    flex: auto;
  }

  .site-name img {
    margin-right: 0.3rem;
  }
}

@media screen and (max-width: 400px) {
  .nav-room-name h2 {
    display: none;
  }
}
