.text-stroke {
  color: white;
  text-shadow: 
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
  -webkit-text-stroke: 2px black;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.cast-container {
  height: calc(100vh - 5rem);
}

.cast-container h1 {
  font-weight: 600;
  -webkit-text-stroke: 3px black;
}

.action-box {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px black;
  margin-top: 3rem;
}

.divider {
  margin-top: -0.5rem;
  height: 0.5rem;
  background-color: white;
  border: 2px solid black;
}
