.dice-roller {
  position: fixed !important;
  bottom: 50px;
  left: 50px;
  z-index: 999;
}

@media screen and (max-width: 600px) {
  .dice-roller {
    bottom: 65px;
    right: 50px;
    width: calc(100% - 6rem);
  }

  .dice-roller button:first-child {
    width: 100%;
  }
}