.message-list-container {
  margin-bottom: 16px;
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 260);
}

@media screen and (max-width: 600px) {
  .message-list-container {
    min-height: auto;
    max-height: calc(100vh - 290);
  }
}

.message-list {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0.5em;
}

.message-tabs button {
  flex-shrink: 1;
  min-width: 80px;
}

.message {
  padding: 8px 16px;
  margin-bottom: 8px;
  background: var(--color-gray);
  border-radius: var(--border-radius);
  text-align: left;
  width: 100%;
}

.message-message {
  word-break: break-word;
}

.message-message p {
  white-space: pre-wrap;
}

.message.transparent {
  background: rgba(75, 75, 75, 0.75);
  text-shadow:
  -1px 0 0 black,
  1px 0 0 black,
  0 -1px 0 black,
  0 1px 0 black;
}

.message.transparent .MuiAvatar-root {
  text-shadow: none;
}

.message td,
.message th {
  padding: 0.4em;
  border-right: dashed 1px gray
}

.message td:last-child,
.message th:last-child {
  border-right: none;
}

.message th {
  border-bottom: dashed 1px gray;
}

.message tr:not(:last-child) {
  border-bottom: solid 1px gray;
}

.message ul {
  list-style: disc;
  padding-left: 1rem;
}

.message a {
  text-decoration: underline;
}

.message a:hover {
  text-decoration: none;
}

.message code {
  background-color: #222;
  padding: 0.25rem;
}

.message img {
  max-width: 100%;
}

.message-header {
  display: flex;
  justify-content: space-between;
  font-size: 80%;
}

.own-message {
  background: var(--color-blue);
  align-self: flex-end;
}

.sender {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.sender>div {
  margin-right: 0.5rem;
}

.sender small {
  font-weight: normal;
}
