.nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 32px;
    background: var(--color-blue);
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .nav {
        font-size: 80%;
    }
}

.nav-room-name {
    display: flex;
    align-items: center;
}

.nav-room-name h2 {
    margin-right: 0.5rem;
}