.main-container {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -10;
}

.desktop-container {
  display: flex;
  justify-content: center;
  padding: 50px 16px 0;
  height: 100vh;
  overflow-y: auto;
}

.mobile-container {
  margin: 40px 0;
  padding-bottom: 100px;
  height: calc(100vh - 80px);
}

.metronome {
  background-image: url(images/metronome.gif);
}

.pinkSpiral {
  background-image: url(images/pink-spiral.gif);
}

.bwSpiral {
  background-image: url(images/bw-spiral.webp);
}

.messages-container {
  min-width: 375px;
  max-width: 375px;
  padding: 16px;
  flex-grow: 1;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .messages-container {
    margin-top: 10px;
    min-width: 100%;
    max-width: 100%;
  }
}
