.settings-box {
  min-width: 100%;
  /* max-width: 300px; */
}

label.settings-switch {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem
}

.flex-buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.flex-buttons > button {
  margin-right: 0.5rem;
}

.flex-buttons > button:last-child {
  margin-right: 0;
}